h3{
    text-align: center;
    text-shadow: 2px 2px;
    font-size: 300%;
    letter-spacing: 3px;
    font-weight: bold;
}

p {
    text-align: center;
}
p {
    font-family: cursive;
}
body{
    background-color: grey;
}
img {
    width: 500px; height: 400px;
}
img{
    border-style: solid; border-color: #91274F;
}
img{
    padding: 25px; margin: 70px;
}
table{width:100%;text-align:center;
 border: 1px solid black;
 padding: 15px;

  